@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500');
@import url('http://fonts.cdnfonts.com/css/nautilus-pompilius');
// common

.font-nautigal {
  font-family: 'Nautilus Pompilius', sans-serif;
}
// LoadingPage
.loading-page {
  width: 100vw;
  height: 100vh;
  z-index: 20;
  position: fixed;
  background-color: $white;
  background-image: url('/src/assets/image/loader-animation.gif');
  background-repeat: no-repeat;
  background-position: center;
}
// layout
.wrap-content {
  width: 86%;
  max-width: pxToRem(1280px);
  margin-right: auto;
  margin-left: auto;
  width: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  @include respond-to('sm') {
    width: pxToRem(540px);
  }
  @include respond-to('md') {
    width: pxToRem(720px);
  }
  @include respond-to('lg') {
    width: pxToRem(960px);
  }
  @include respond-to('xl') {
    width: pxToRem(1140px);
  }
}
// Header
.header-menu {
  position: fixed;
}
// Banner
.banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  display: grid;
  place-content: center;
  .title {
    color: $white;
    text-align: center;
    padding-top: pxToRem(50px);
    .text {
      display: inline;
    }
  }
  .description {
    padding: pxToRem(40px) 0;
    color: $white;
    opacity: 0.8;
    text-align: center;
  }
  .button-effect {
    text-align: center;
  }
}
//AboutUs
.wrap-about-us {
  background-color: $silver;
  .about-us {
    padding-top: pxToRem(90px);
    padding-bottom: pxToRem(90px);
    display: flex;
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      .title {
        padding: pxToRem(18px) 0;
      }
      .description {
        opacity: 0.8;
      }
    }
    &__img {
      text-align: center;
      flex: 1;
      .skeleton {
        width: 400px;
        height: 400px;
      }
      .images {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0 auto;

        & img:first-child {
          width: 100%;
          height: 100%;
        }
        & img:last-child {
          position: absolute;
        }
      }
    }
  }
}
